<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Web components native</title>
        <link rel="stylesheet" href="./styles.css" />
    </head>

    <body>
        <!-- Add other tag elements -->

        <!-- Add custom element tag -->
    </body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // add code snippet
    });
    class WCModalComponent extends HTMLElement {
        constructor() {
            super();
            this.isRendered = false;
        }

        connectedCallback() {
            if (this.isConnected && !this.isRendered) {
                this.isRendered = true;
                this.render();
            }
        }

        disconnectedCallback() {
            // add code snippet
        }

        static get observedAttributes() {
            // add code snippet
        }

        attributeChangedCallback(name, oldValue, newValue) {
            // add code snippet
        }

        render() {
            // add code snippet
        }
    }

    customElements.define('wc-modal', WCModalComponent);
</script>
