.wc-button {
    padding: 8px 16px;
    background-color: #1b1b1b;
    box-sizing: content-box;
    border: 1px solid;
    color: white;
    cursor: pointer;
}
.wc-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(15, 15, 15, 0.7);
    z-index: -1;
    opacity: 0;
    display: flex;
    justify-content: center;
    overflow: auto;
    transition: opacity 300ms ease-in-out;
}
.open {
    z-index: 999;
    opacity: 1;
}

.modal-close-wrapper {
    align-self: center;
    position: absolute;
    top: 32px;
    right: 32px;
    cursor: pointer;
}

slot > * {
    color: white;
    border: 2px dashed white;
}
slot[name='modal-close-icon'] > span {
    display: block;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
}

::slotted([slot='modal-close-icon']) {
    color: white;
    font-size: 32px;
    cursor: pointer;
}
slot[name='modal-content'] > div {
    align-self: center;
    padding: 20px;
}

::slotted([slot='modal-content']) {
    align-self: center;
    background-color: white;
    color: black;
    padding: 16px;
    height: max-content;
}
